<div class="card-wrapper">
  <md-card>
    <img width="100%" src="/assets/home1.jpg" alt="">
    <md-card-content>
      <md-card-title>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</md-card-title>
      <md-card-subtitle>
        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Ullam nostrum, libero pariatur, nulla placeat corporis tenetur unde quos atque, autem nisi nemo quod alias fugit quo quam aliquam voluptas numquam.
      </md-card-subtitle>
      <md-card-actions>
        <button md-raised-button class="md-primary" routerLink="/feature1">Feature 1</button>
        <button md-raised-button class="md-primary" routerLink="/feature2">Feature 2</button>
      </md-card-actions>
    </md-card-content>
  </md-card>
</div>